<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap Bundle JS (inclut Popper) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>


<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/FleetSpirit.png" class="navbar-brand-img"
          alt="Argon Design - Jinja Template Logo.">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/icons.html">
              <i class="ni ni-planet text-orange"></i>
              <span class="nav-link-text">Icons</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'map' in segment %} active {% endif %}" href="/map.html">
              <i class="ni ni-pin-3 text-primary"></i>
              <span class="nav-link-text">Google</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/tables.html">
              <i class="ni ni-bullet-list-67 text-default"></i>
              <span class="nav-link-text">Tables</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa fa-car text-primary" aria-hidden="true"></i>
              Véhicules
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/chauffeurs"> <i class="fa fa-truck" aria-hidden="true"></i> Gérer Les
                  Véhicules</a></li>
              <li><a class="dropdown-item" href="/chauffeurs"> <i class="fa fa-map-marker" aria-hidden="true"></i>
                  Track Véhicules</a></li>
              <li><a class="dropdown-item" href="/icons.html"> <i class="fa fa-address-book"
                    aria-hidden="true"></i>Clients</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa fa-users text-orange" aria-hidden="true"></i>
              Utilisateurs
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/chauffeurs.html"> <i class="fa fa-address-card"
                    aria-hidden="true"></i>Chauffeurs</a></li>
              <li><a class="dropdown-item" href="/gestionnaire.html"> <i class="fa fa-address-card"
                    aria-hidden="true"></i>Utlisateur (Gestionnaire)</a></li>
              <li><a class="dropdown-item" href="/clients.html"> <i class="fa fa-address-book"
                    aria-hidden="true"></i>Clients</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/maintenance.html">
              <i class="fa fa-wrench" aria-hidden="true"></i>
              <span class="nav-link-text">Maintenance</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/rapports.html">
              <i class="fa fa-sticky-note" aria-hidden="true"></i>
              <span class="nav-link-text">Rapports</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/carburant.html">
              <i class="fa fa-filter" aria-hidden="true"></i>
              <span class="nav-link-text">Carburant</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login.html">
              <i class="ni ni-key-25 text-info"></i>
              <span class="nav-link-text">Login</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register.html">
              <i class="ni ni-circle-08 text-pink"></i>
              <span class="nav-link-text">Register</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="ni ni-user-run text-red"></i>
              <span class="nav-link-text">Logout</span>
            </a>
          </li>
        </ul>
        <!-- Divider -->
        <hr class="my-3">

        <!-- Navigation -->
      </div>
    </div>
  </div>
</nav>