{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Register {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



<!-- Page content -->
<div class="d-flex align-items-center justify-content-center w-100">
  <div class="row justify-content-center w-100">
    <div class="col-md-8 col-lg-6 col-xl-4">
      <div class="card mb-0">
        <div class="card-body">
          <a href="{% url 'home' %}" class="text-nowrap logo-img text-center d-block py-3 w-100">
            <img src="/static/assets/img/brand/logo.png" width="180" alt="">
          </a>
          <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputtext1" class="form-label">Username</label>
              <input type="text" class="form-control" id="exampleInputtext1" name="username"
                aria-describedby="textHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputtext1" class="form-label">Nom</label>
              <input type="text" class="form-control" id="exampleInputtext1" name="lastname"
                aria-describedby="textHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputtext1" class="form-label">Prenom</label>
              <input type="text" class="form-control" id="exampleInputtext1" name="firstname"
                aria-describedby="textHelp">
            </div>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" name="email"
                aria-describedby="emailHelp">
            </div>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="role">
              <option value="1">Administator</option>
              <option value="2">Conducteur</option>
            </select>
            {% if messages %}
            <div class="messages">
              {% for message in messages %}
              <div class="alert alert-success">{{ message }}</div>
              {% endfor %}
            </div>
            {% endif %}

            <button type="submit" class="btn btn-primary w-100  fs-4 mb-4 rounded-2">Sign Up</button>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}