{% extends 'layouts/base.html' %} {% block content %}

<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
          <i class="mdi mdi-home"></i>
        </span>
        Dashboard
      </h3>
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <span></span>Détails vehicule
            <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
          </li>
        </ul>
      </nav>
    </div>

    <div class="main">
      <div class="container">
        <img src="{{ voitures.photo_voiture.url }}" alt="Photo du véhicule" class="vehicle-image" />
        <div class="vehicle-details">
          <h2>Détails du véhicule</h2>
          <p><strong>Marque:</strong> {{voitures.modele.marque}}</p>
          <p><strong>Modèle:</strong> {{voitures.modele}}</p>
          <p><strong>Immatriculation:</strong> {{voitures.immatriculation}}</p>
          <p><strong>Numéro de châssis:</strong> {{voitures.numero_chassi}}</p>
          <p><strong>Numéro de série:</strong> {{voitures.numero_serie}}</p>
          <p><strong>Couleur:</strong> {{voitures.couleur_voiture}}</p>
          <p><strong>Kilométrage:</strong> {{voitures.kilometrage}} km</p>
          <p><strong>Type de carburant:</strong> {{voitures.type_carburant}}</p>
          <p><strong>Transmission:</strong> {{voitures.transmission}}</p>
          <p><strong>Nombre de vitesses:</strong> {{voitures.nombre_de_vitesse}}</p>
          <p><strong>Symptômes:</strong> {{voitures.symptomes}}</p>
          <p>
            <strong>Historique de maintenance:</strong> {{voitures.historique_maintenance}}
          </p>
          <p> {% if messages %}
          <div>
            {% for message in messages %}
            <ul>
              <li>{{message}}</li>
            </ul>
            {% endfor %}
          </div>
          {% endif %}</p>

        </div>
      </div>
      {% include "includes/footer.html" %}

    </div>




    {% endblock content %}
    <!-- Specific JS goes HERE -->
    {% block javascripts %}{% endblock javascripts %}